*.DS_Store
*~
*RData
*Rhistory
cogsci_cache
data/colorReference/clickedObj/node_modules/
data/sketchpad/message/*.csv
experiments/node_modules/
models/node_modules/
models/wppl-color/node_modules/
models/.ipynb_checkpoints/
models/stanza/
models/coop-nets/
.Rproj.user
analysis/tangrams/.ipynb_checkpoints/
analysis/.ipynb_checkpoints/
PMIbootstrap.csv
matchAndPMI.csv
posTagged.csv
analysis/shapeReferenceOutlines/jpgs/*
cogsci.pdf
cogsci.tex
*.aux
*.log
*.bbl
*.blg
tangramsManuscript.pdf
*.synctex.gz
*.sublime-*
/writing/cogsci/figs/*
packrat/lib*/
packrat/src/
localdump/
experiments/3dObjects/sketchpad/test_stim/*
experiments/3dObjects/sketchpad/python/photos/*
experiments/3dObjects/sketchpad/python/.ipynb_checkpoints
experiments/3dObjects/sketchpad/_*
experiments/3dObjects/sketchpad/compensation_driver.py
production_results/
auth.json
credentials.py
credentials.pyc
data/3dObjects/sketchpad/mturk/credentials.py
data/3dObjects/sketchpad/mturk/auth.json
compensation_driver.py
auth.json
production_results/
data/3dObjects/sketchpad_basic/clickedObj/*.js
data/3dObjects/sketchpad_basic/stroke/*.js
data/3dObjects/sketchpad_repeated/
analysis/3dObjects/sketchpad_repeated/sketches/*
analysis/3dObjects/sketchpad_basic/sketches/*
