*.DS_Store
*~
*RData
*Rhistory
cogsci_cache
data/colorReference/clickedObj/node_modules/
data/sketchpad/message/*.csv
experiments/node_modules/
models/node_modules/
models/wppl-color/node_modules/
models/.ipynb_checkpoints/
models/stanza/
models/coop-nets/
.Rproj.user
analysis/tangrams/.ipynb_checkpoints/
analysis/.ipynb_checkpoints/
PMIbootstrap.csv
matchAndPMI.csv
posTagged.csv
analysis/shapeReferenceOutlines/jpgs/*
cogsci.pdf
cogsci.tex
*.aux
*.log
*.bbl
*.blg
tangramsManuscript.pdf
*.synctex.gz
*.sublime-*
/writing/cogsci/figs/*
packrat/lib*/
packrat/src/
localdump/
experiments/sketchpad/test_stim/*
experiments/sketchpad/python/photos/*
experiments/sketchpad/python/.ipynb_checkpoints
experiments/sketchpad/_*
data/sketchpad/mturk/compensation_driver.py
data/sketchpad/mturk/credentials.py
data/sketchpad/mturk/auth.json
compensation_driver.py
credentials.py
credentials.pyc
auth.json
production_results/
