*.DS_Store
*~
*RData
*Rhistory
data/colorReference/clickedObj/node_modules/
experiments/node_modules/
models/node_modules/
models/wppl-color/node_modules/
models/.ipynb_checkpoints/
models/stanza/
models/coop-nets/
reference_games.Rproj
.Rproj.user
analysis/tangrams/.ipynb_checkpoints/
analysis/.ipynb_checkpoints/
PMIbootstrap.csv
matchAndPMI.csv
posTagged.csv
analysis/shapeReferenceOutlines/jpgs/*
*.aux
*.log
*.bbl
*.blg
tangramsManuscript.pdf
*.synctex.gz
*.sublime-*
